
<div *ngIf="outputData" class="d-flex flex-row">
  <div *ngFor="let y of outputData" class="card border-danger">
    <div class="card-body">
      <h3 class="list-name card-title border-bottom">{{y.key}}</h3>
      <div *ngFor="let x of y.data.results">
        <h4>
          <a class="btn btn-primary"
             data-toggle="collapse"
             [attr.href]="'#' + removeSymbols(x.name || x.title)"
             role="button"
             aria-expanded="false"
             [attr.aria-controls]="removeSymbols(x.name || x.title)">
            {{x.name || x.title}}
          </a>
        </h4>
        <div class="collapse" [attr.id]="removeSymbols(x.name || x.title)">
          <div *ngFor="let part of PARTS">
            <div *ngIf="x[part] && x[part].length !== 0">
              <h5>{{part + ':' + x[part].length}}</h5>
              <div *ngFor="let film of x[part]">
                <app-item [obs]="film"></app-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
