/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.f-20 {
  font-size: 20px;
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
body .ui-organizationchart .ui-organizationchart-node-content .ui-node-toggler {
  bottom: -20px!important;
  left: 48% !important;
}
